.elementor-text-box {
  cursor: pointer;
  padding: 15px 20px;
  border: 1px solid #ddd;
  @include border-radius(4px);
  background-color: #f5f5f5;

  .icon-image {
    margin-right: 15px;
    width: 40px;
    @include flex(0 0 auto);
  }
  .title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  &:hover {
    border: 2px solid $background-primary;
  }
}